body {
    background-image: url('Imágenes/ciudad/ciudad4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    align-self: flex-start;
    margin: 2px 0;
    width: 250px; /* Aseguramos que el logo tenga el mismo ancho en todas las páginas */
    height: auto; /* Mantenemos la proporción del logo */
}

.logo img {
    width: 100%; /* Hacemos que la imagen ocupe todo el espacio del div */
    height: auto; /* Mantiene la proporción de la imagen */
}

.qr-codes {
    display: flex;
    gap: 10px;

    align-items: center;
}

.qr-codes img {
    width: 250px; /* Ajusta el tamaño según sea necesario */
    height: center;
}

.slides {
    display: flex;
    width: 1150px; /* Ancho total de todas las imágenes */
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 1050px; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: 250px; /* Ajusta el alto de las imágenes */
    object-fit: cover; /* Para mantener la relación de aspecto */
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

nav ul:hover {
    color: #666;
    transform: scale(1.2);
}

nav li {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

nav li:hover {
    transform: scale(1.5) translateY(-20px);
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 38px;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: #666;
}

.hero {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0 0 20px 0;
}

.hero p {
    font-size: 36px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}
