/* mandatario.css */

.services, .contact {
    padding: 50px 20px;
    text-align: center;
}

.services h2, .contact h2 {
    font-size: 36px;
    color: rgb(22, 22, 22);
    margin-bottom: 20px;
}

.services h3, .contact h3 {
    font-size: 36px;
    color: rgb(22, 22, 22);
    margin-bottom: 20px;
}

.services h3 p, .contact h3 p{
    font-size: 36px;
    color: rgb(235, 225, 225);
    margin-bottom: 20px;
}

.services ul, .contact ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(51, 94, 158);
}

.services ul li, .contact ul li {
    font-size: 20px;
    margin: 10px;
    flex: 0 0 calc(25% - 20px); /* Tres columnas con margen */
    text-align: center;
}

.services ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services ul li img {
    width: 350px; /* Tamaño de las imágenes */
    height: 150px;
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.services ul li img:hover {
    transform: scale(1.2); /* Agranda la imagen a 120% de su tamaño original */
}

.services ul li p {
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.services ul.tramites li {
    flex: 0 0 calc(25% - 20px); /* Dos columnas con margen */
    display: flex;
    align-items: center;
}

.services ul.tramites li i {
    margin-right: 0px;
    font-size: 72px; /* Tamaño del ícono */
}

footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;

    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
